%h1 Sign In
= form_tag sessions_path, method: 'post' do
  = label :session, :email, 'Email'
  = text_field :session, :email
  = label :session, :password, 'Password'
  = password_field :session, :password
  = submit_tag 'Sign in', id: 'sign_in_button'
%p
= link_to 'Forgot Password?', new_password_reset_path