- if flash.now[:warning]
  %p= flash.now[:warning]

%h1 Sign In
= form_tag sessions_path, method: 'post' do
  = label :session, :email, 'Email', for: 'email_field'
  = text_field :session, :email, id: 'email_field'
  = label :session, :password, 'Password', for: 'password_field'
  = password_field :session, :password, id: 'password_field'
  = submit_tag 'Sign in', id: 'sign_in_button'
%p
= link_to 'Forgot Password?', new_password_reset_path
