%h1.welcome You are logged in as #{@current_user.email}
= button_to 'Log Out', logout_path, method: :delete, id: 'logout_button'
%p.profile= link_to 'View Profile', user_path(@current_user)

- if flash[:notice]
  %p= flash[:notice]

%h2 Profile for #{@user.name}
%ul#details
  %li
    %strong Name:
    = @user.name
  %li
    %strong E-mail:
    = @user.email

= link_to 'Back to home', root_path

= link_to 'Landing Page', landing_path