- content_for :background_music, 'log_in.mp3'
%div.d-flex.align-items-start{ style: "background-image: url('#{image_path('profile_settings_background.png')}'); background-size: cover; background-position: center; height: 100vh; margin: 0;" }

  %div.nav-container{ style: "position: fixed; top: 0; width: 100%; height: 80px; z-index: 10; display: flex; align-items: center; justify-content: space-between; padding: 0 20px;" }
    = render 'shared/navigation'

  %div.nav.flex-column.nav-pills{
    id: "v-pills-tab",
    role: "tablist",
    "aria-orientation": "vertical",
    style: "background: rgba(0, 0, 0, 0.8); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); width: 250px; height: 100%; display: flex; flex-direction: column; align-items: center; padding-top: 200px; padding-left: 50px; padding-right: 250px;"
  }
    - active_tab = params[:active_tab] || 'v-pills-account-details'
    %button.nav-link{
      id: "v-pills-account-details-tab",
      "data-bs-toggle": "pill",
      "data-bs-target": "#v-pills-account-details",
      type: "button",
      role: "tab",
      "aria-controls": "v-pills-account-details",
      "aria-selected": active_tab == 'v-pills-account-details',
      class: ("active" if active_tab == 'v-pills-account-details'),
      style: "margin-bottom: 20px; width: 200px; text-align: center;"
    } Account Details
    %button.nav-link{
      id: "v-pills-billings-tab",
      "data-bs-toggle": "pill",
      "data-bs-target": "#v-pills-billings",
      type: "button",
      role: "tab",
      "aria-controls": "v-pills-billings",
      "aria-selected": active_tab == 'v-pills-billings',
      class: ("active" if active_tab == 'v-pills-billings'),
      style: "margin-bottom: 20px; width: 200px; text-align: center;"
    } Billings
    %button.nav-link{
      id: "v-pills-orders-tab",
      "data-bs-toggle": "pill",
      "data-bs-target": "#v-pills-orders",
      type: "button",
      role: "tab",
      "aria-controls": "v-pills-orders",
      "aria-selected": active_tab == 'v-pills-orders',
      class: ("active" if active_tab == 'v-pills-orders'),
      style: "margin-bottom: 20px; width: 200px; text-align: center;"
    } Orders

  / Main Content Area
  %div.tab-content.flex-grow-1.d-flex.align-items-center.justify-content-center{
    id: "v-pills-tabContent",
    style: "padding: 50px; flex-grow: 1; "
  }
    %div.tab-pane.fade{
      id: "v-pills-account-details",
      role: "tabpanel",
      "aria-labelledby": "v-pills-account-details-tab",
      tabindex: "0",
      class: ("show active" if active_tab == 'v-pills-account-details'),
      style: "width: 100%; max-width: 800px; padding: 30px; background: rgba(0, 0, 0, 0.8); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 10px;"
    }
      %h1{ style: "color: #ECF0F1; text-align: center; margin-bottom: 20px;" } Profile Settings

      %div.profile-picture-container{
        style: "text-align: center; margin-bottom: 20px;"
      }
        %img#profilePicture{
          src: @current_user.profile_image.attached? ? url_for(@current_user.profile_image) : image_path('logo.png'),
          alt: "pfp",
          style: "width: 100px; height: 100px; border-radius: 50%; cursor: pointer;",
          "data-bs-toggle" => "modal",
          "data-bs-target" => "#uploadImageModal"
        }

      / Modal for Uploading a New Profile Picture
      .modal.fade#uploadImageModal{ tabindex: "-1", "aria-labelledby" => "uploadImageModalLabel", "aria-hidden" => "true" }
        .modal-dialog
          .modal-content
            .modal-header
              %h5.modal-title#uploadImageModalLabel Upload Profile Picture
              %button.btn-close{
                type: "button",
                "data-bs-dismiss" => "modal",
                "aria-label" => "Close"
              }
            .modal-body
              = form_with(url: update_profile_image_path, method: :patch, local: true, multipart: true) do |f|
                .mb-3
                  = f.label :profile_image, "Choose an image", class: 'form-label'
                  = f.file_field :profile_image, class: 'form-control', required: true
                .modal-footer
                  = f.submit "Upload", class: "btn btn-primary"
                  %button.btn.btn-secondary{
                    type: "button",
                    "data-bs-dismiss" => "modal"
                  } Cancel

      = render 'shared/flash'

      / Display Current Email
      %div{ style: "margin-top: 30px;" }
        %label{ style: "color: #ECF0F1; font-weight: bold;" } Current Email
        %input.form-control{
          type: "email",
          value: @current_user.email,
          readonly: true,
          style: "width: 100%; margin-top: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #e9ecef; color: #495057;"
        }

      / Form for Updating User Name
      = form_with(url: update_name_path, method: :patch, local: true) do |f|
        %div{ style: "margin-top: 30px;" }
          = f.label :name, "User Name", style: "color: #ECF0F1; font-weight: bold;"
          = f.text_field :name, value: @current_user.name, class: "form-control", style: "width: 100%; padding: 10px; margin-top: 10px; border: 1px solid #ccc; border-radius: 5px;"

        %div.actions{ style: "margin-top: 20px;" }
          = f.submit "Save", class: "btn btn-success", style: "width: 100%; padding: 10px; background-color: #28a745; border: none; border-radius: 5px; color: white; font-weight: bold;"

      / Form for Reset Password and Change Email
      = form_with(url: password_resets_path, method: :post, local: true) do |f|
        - if @current_user&.email
          = hidden_field_tag :email, @current_user.email
        %div.actions{ style: "margin-top: 20px;" }
          = f.submit "Reset Password", class: "btn btn-primary", style: "width: 100%; padding: 10px; background-color: #1ABC9C; border: none; border-radius: 5px; color: white; font-weight: bold;"

      %div.actions{ style: "margin-top: 20px;" }
        %button.btn.btn-secondary#change-email-button{
          type: "button",
          "data-bs-toggle": "modal",
          "data-bs-target": "#changeEmailModal",
          style: "width: 100%; padding: 10px; background-color: #3498db; border: none; border-radius: 5px; color: white; font-weight: bold;"
        } Change Email

      %p{ style: "text-align: center; margin-top: 15px;" }
        = link_to 'Back to home', root_path, style: "color: #1ABC9C;"

        / Modal for Changing Email
      .modal.fade#changeEmailModal{ tabindex: "-1", "aria-labelledby" => "changeEmailModalLabel", "aria-hidden" => "true" }
        .modal-dialog
          .modal-content
            .modal-header
              %h5.modal-title#changeEmailModalLabel{ style: "color: black;" } Change Email
              %button.btn-close{
                type: "button",
                "data-bs-dismiss" => "modal",
                "aria-label" => "Close"
              }
            = form_with(url: change_email_path, method: :patch, local: true) do |f|
              .modal-body
                .mb-3
                  = f.label :new_email, "Enter New Email", class: 'form-label', style: 'color: black;'
                  = f.email_field :new_email, class: 'form-control', required: true
                .mb-3
                  = f.label :confirm_email, "Re-enter New Email", class: 'form-label', style: 'color: black;'
                  = f.email_field :confirm_email, class: 'form-control', required: true
                .mb-3
                  = f.label :current_password, "Enter Current Password", class: 'form-label', style: 'color: black;'
                  = f.password_field :current_password, class: 'form-control', required: true
              .modal-footer
                = f.submit "Update Email", class: "btn btn-primary"
                %button.btn.btn-secondary{
                  type: "button",
                  "data-bs-dismiss" => "modal"
                } Close


    %div.tab-pane.fade{
      id: "v-pills-billings",
      role: "tabpanel",
      "aria-labelledby": "v-pills-billings-tab",
      tabindex: "0",
      class: ("show active" if active_tab == 'v-pills-billings'),
      style: "width: 100%; max-width: 800px; padding: 30px; background: rgba(0, 0, 0, 0.8); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 10px;"
    }
      %h1{ style: "color: #ECF0F1; text-align: center; margin-bottom: 20px;" } Billing Information
      %div{ style: "margin-top: 20px;" }
        = render 'shared/flash'
        %ul.list-group
          - @billing_methods.each do |method|
            %li.list-group-item{ style: "margin-top: 10px; background: rgba(150, 50, 150, 0.8); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 10px; display: flex; justify-content: space-between; align-items: center; border: none;" }
              %div
                %p{ style: "margin: 0; font-weight: bold; color: #fff;" }= method.card_holder_name
                %p{ style: "margin: 0; color: #fff;" } **** **** **** #{method.card_number.last(4)}
                %p{ style: "margin: 0; color: #888;" } Exp: #{method.expiration_date.strftime('%m/%y')}
              %div
                %button.btn.btn-sm.btn-outline-primary{
                  type: "button",
                  "data-bs-toggle": "modal",
                  "data-bs-target": "#editCardModal-#{method.card_number.last(4)}",
                  "data-card-last-four": "#{method.card_number.last(4)}",
                  style: "margin-left: 10px; border: none; box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);"
                } Edit

                / Edit Modal for Each Card
      - @billing_methods.each do |method|
        .modal.fade{id: "editCardModal-#{method.card_number.last(4)}", tabindex: "-1", "aria-labelledby" => "editCardModalLabel-#{method.id}", "aria-hidden" => "true"}
          .modal-dialog
            .modal-content
              .modal-header
                %h5.modal-title{id: "editCardModalLabel-#{method.id}"} Edit Card
                %button.btn-close{type: "button", "data-bs-dismiss" => "modal", "aria-label" => "Close"}

              / Form for Editing the Billing Method
              = form_with(model: method, url: edit_billing_method_path(method), method: :patch, local: true) do |f|
                .modal-body
                  .mb-3
                    = f.label :card_holder_name, "Edit Card Holder Name", class: 'form-label'
                    = f.text_field :card_holder_name, value: method.card_holder_name, class: 'form-control', required: true
                  .mb-3
                    = f.label :card_number, "Edit Card Number", class: 'form-label'
                    = f.text_field :card_number, minlength: 16, maxlength: 16, inputmode: 'numeric', value: method.card_number, class: 'form-control', oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 16);", required: true
                  .mb-3
                    = f.label :expiration_date, "Edit Expiration Date (MM/YY)", class: 'form-label'
                    = f.date_field :expiration_date, value: method.expiration_date, class: 'form-control', required: true
                  .mb-3
                    = f.label :cvv, "Edit CVV", class: 'form-label'
                    = f.text_field :cvv,
                      class: 'form-control',
                      maxlength: 4,
                      inputmode: 'numeric',
                      placeholder: 'Enter CVV (3-4 digits)',
                      value: method.cvv,
                      oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);"
                .modal-footer
                  = f.submit "Update Card", class: "btn btn-primary"
                  %button.btn.btn-secondary{
                    type: "button",
                    "data-bs-dismiss" => "modal"
                  } Cancel

              / Separate Form for Deleting the Billing Method
              = form_with(url: delete_billing_method_path(method), method: :delete, local: true) do
                .modal-footer{ style: "justify-content: start;" }
                  = submit_tag "Delete", class: "btn btn-danger"

      %button.btn.btn-primary#add-card-button{
        type: "button",
        "data-bs-toggle": "modal",
        "data-bs-target": "#addCardModal",
        style: "margin-top: 20px; display: block; width: 100%;"
      } Add New Card


      / Modal for Adding a New Card
      .modal.fade#addCardModal{ tabindex: "-1", "aria-labelledby" => "addCardModalLabel", "aria-hidden" => "true" }
        .modal-dialog
          .modal-content
            .modal-header
              %h5.modal-title#addCardModalLabel Add New Card
              %button.btn-close{
                type: "button",
                "data-bs-dismiss" => "modal",
                "aria-label" => "Close"
              }
            = form_with(model: @billing_method, url: add_billing_method_path, method: :post, local: true) do |f|
              .modal-body
                - if @billing_method.errors.any?
                  .alert.alert-danger
                    %ul
                      - @billing_method.errors.full_messages.each do |message|
                        %li= message
                .mb-3
                  = f.label :card_holder_name, "Card Holder Name", class: 'form-label'
                  = f.text_field :card_holder_name, class: 'form-control', required: true
                .mb-3
                  = f.label :card_number, "Card Number", class: 'form-label'
                  = f.text_field :card_number, minlength: 16, maxlength: 16, inputmode: 'numeric', class: 'form-control', oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 16);", required: true
                .mb-3
                  = f.label :expiration_date, "Expiration Date (MM/YY)", class: 'form-label'
                  = f.date_field :expiration_date, class: 'form-control', required: true
                .mb-3
                  = f.label :cvv, "CVV", class: 'form-label'
                  = f.text_field :cvv,
                    class: 'form-control',
                    required: true,
                    maxlength: 4,
                    minlength: 3,
                    inputmode: 'numeric',
                    pattern: '\d{3,4}',
                    placeholder: 'Enter CVV (3-4 digits)',
                    oninput: "this.value = this.value.replace(/[^0-9]/g, '').slice(0, 4);"
              .modal-footer
                = f.submit "Add Card", class: "btn btn-primary"
                %button.btn.btn-secondary{
                  type: "button",
                  "data-bs-dismiss": "modal"
                } Cancel

    %div.tab-pane.fade{
      id: "v-pills-orders",
      role: "tabpanel",
      "aria-labelledby": "v-pills-orders-tab",
      tabindex: "0",
      class: ("show active" if active_tab == 'v-pills-orders'),
      style: "width: 100%; max-width: 800px; padding: 30px; background: rgba(0, 0, 0, 0.8); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 10px;"
    }
      %h1{ style: "color: #ECF0F1; text-align: center; margin-bottom: 20px;" } Orders
      %div{ style: "margin-top: 20px;" }
        = render 'shared/flash'
        - if @orders.present?
          %ul.list-group
            - @orders.each do |order|
              %li.list-group-item{ style: "margin-top: 10px; background: rgba(50, 50, 50, 0.8); box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); border-radius: 10px; color: #fff;" }
                %div
                  %p{ style: "margin: 0; font-weight: bold;" }= order.item_name
                  %p{ style: "margin: 0;" } Type: #{order.item_type}
                  %p{ style: "margin: 0;" } Cost: #{order.item_cost} shards
                  %p{ style: "margin: 0; font-size: 0.85rem;" } Purchased at: #{order.purchased_at.strftime('%b %d, %Y %H:%M')}
        - else
          %p{ style: "color: #ECF0F1; text-align: center; margin-top: 20px;" } No orders found.

