-# app/views/store_items/index.html.haml

%h1 All Available Store Items

= form_tag store_items_path, method: :post, id: 'store_items' do
  %table#store_items
    %thead
      %tr
        %th Item Name
        %th Price
        %th Description
        %th Select

    %tbody
      - @store_items.each do |item|
        %tr
          %td= item[:name]
          %td= number_to_currency(item[:price])
          %td= item[:description]
          %td= check_box_tag "store_items[]", item[:id]

  = submit_tag 'Add Selected Items', id: 'add_selected_submit'